@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Signika Negative', sans-serif;
  margin: 0;
  padding: 0;
  --main-color:#FFFFFF;
  --hover-color: #eb6d2f;
  --background: #F9F4F0;
}

body {
  max-width: 100%;
  margin: auto;
}

header {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  height: 680px;
  width: 1440px;
}

header .logo img {
  width: 250px;
  height: auto;
}

.burger-icon {
  font-size: 3.5rem;
}

#burger-checkbox {
  display: none;
}

header .menu {
  padding: 50px;
  display: none;
  font-weight: bold;
}

input:checked ~ .menu {
  display: block;  
} 
@media (min-width: 500px) {

  .burger-icon {
      display: none;
  }

  .container {
    max-width: 980px;
    margin: auto;}

header .menu a{
color: var(--main-color) ;
position: static;
width: 98px;
height: 28px;
left: 0px;
top: 0px;
font-family: TT Commons;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
letter-spacing: 1px;
text-transform: uppercase;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 40px;
}


header .menu a{
display: block;
text-decoration: none;
color: var(--main-color);
text-align: center;
margin-left: 30px;
}


header .menu a:hover {
  color: var(--hover-color);
}

      
  }
  header nav .menu {
    display: flex;
    flex: 1; 
    align-items: baseline;   
    justify-content: flex-end;
    padding-left: 15px;
    margin-left:20px;
  }
  }
  header .top-nav {
    display: flex;
    align-items: center;
    padding: 13px 100px;
    justify-content: space-around;
  }

 h1 {
  color: #FFFFFF;
  text-align: center;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

#benefits {
  margin-top: 50px;
}

.benefits__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.benefits__content {
  margin-left: 30px;
}
.benefits__content h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.benefits__image {
  padding: 10px 0 0 0;
}
.benefits__content p {
  margin-top: 8px;
  font-size: 16px;
  line-height: 25px;
  color: var(--paragraph-color);
}



.part {
  background-image: url(../img/part.jpg);
  background-size: cover;
  background-position: center;
  min-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.part h2 {
  font-weight: normal;
  color: var(--main-color);
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
}

.part p {
  color:var(--main-color);
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.part button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 58px;
  position: static;
  width: 214px;
  height: 50px;
  left: 473px;
  top: 127px;
  background: #FF7A74;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
}

.container {
  background-color:  var(--main-color); 
  
}
.container h3 {
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #553F3F;
  text-align: center;
}

.container p {
  position: static;
  width: 300px;
  height: 90px;
  left: 0px;
  top: 40px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #978C8C;
}

main .services article  {
  width: 300px;
}

main .services article p {
  text-align: left;
  
}


@media (min-width: 500px) {
  main .services {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 5px;
  }
}

@media (min-width: 900px) {
  main .services {
    grid-template-columns: 1fr 1fr ;
  }
}
@media (min-width: 980px) {
  main .services {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h4 {
  color: #553F3F;
  position: static;
  width: 300px;
  height: 30px;
  left: 0px;
  top: 0px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  
}