* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

:root {
    font-family: 'TT Commons', sans-serif;
    margin: 0;
    padding: 0;
    --main-color: #FFFFFF;
    --hover-color: #eb6d2f;
    --background: #F9F4F0;
}

body {
    position: relative;
    font-family: 'TT Commons', sans-serif;
}

/* global title */
.section-ttl {
    position: relative;
    font-family: 'SangBleu Sunrise', sans-serif;
}

header {
    max-width: 100%;
    height: 80px;
    position: absolute;
    width: 100%;
}

header .logo img {
    width: 150px;
    height: auto;
}

.logo {
    display: block;
}

.burger-icon {
    font-size: 3.5rem;
    color: #fff;
}

.burger-icon.active {
    transform: rotate(90deg);

}

#burger-checkbox {
    display: none;
}

header .menu {
    display: none;
    font-weight: 700;
}

input:checked ~ .menu {
    display: block;
}


header .menu a {
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (max-width: 960px) {
    .sign-in {
        opacity: 0;
    }
}

header .menu a, .sign-in a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    text-align: center;
    transition: all .25s;
    margin: 0 20px;
}

header .menu, .sign-in a:hover {
    color: var(--hover-color);
}


@media (min-width: 960px) {
    .burger-icon {
        display: none;
    }


    header nav .menu {
        display: flex;
        align-items: center;
    }
}

.top-nav {
    display: flex;
    align-items: center;
    padding: 13px 100px;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .top-nav {
        padding: 13px 30px;
    }

}

.top-banner {
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 680px;
}

.page-ttl {
    color: #FFFFFF;
    text-align: center;
    font-family: 'TT Commons', sans-serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 65px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0;
}

.general-subtitle {
    color: #553F3F;
    font-family: 'SangBleu Sunrise', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
}




.frame {
    max-width: 100%;
    padding: 50px;
    width: 100%;
}


.frame-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: row;

}

@media (min-width: 550px) {
    .frame-img {
        flex-direction: column;
    }
}

@media (min-width: 960px) {
    .frame-img {
        flex-direction: inherit;
    }
}



.services {
    padding: 20px 0;
}

.container {
    padding: 0 20px;
}

@media (min-width: 550px) {
    .container {
        padding: 0 30px;
    }
}

@media (min-width: 960px) {
    .container {
        width: 1160px;
        margin: 0 auto;
        max-width: 100%;
    }
}

.service-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

.services h3 {
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

@media (min-width: 550px) {
    .services h3 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (min-width: 960px) {
    .services h3 {
        font-size: 40px;
        line-height: 60px;
    }
}

.service-item {
    margin-bottom: 20px;

}

@media (min-width: 550px) {
    .service-item {
        max-width: 48%;
    }
}


@media (min-width: 960px) {
    .service-item {
        max-width: 30%;
    }
}

.mission {
    padding: 80px 0;
}

.missions-img {
    max-width: 100%;

}

.mission-img {
    display: flex;
    align-items: center;
}


.mission-name {
    font-family: 'SangBleu Sunrise', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    align-items: center;
    color: #553F3F;
}

.mission-description {
    font-family: 'TT Commons', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #553F3F;
}


.mission-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 58px;
    width: 191px;
    height: 49px;
    background: #FF7A74;
    border-radius: 4px;
    color: white;
    margin: 28px 0;
}

.mission-button:hover {
    text-decoration-color: cornflowerblue;
}

.find {
    font-family: 'SangBleu Sunrise', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #553F3F;
    margin: 114px auto;
}