
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

:root {
  font-family: 'TT Commons';
  margin: 0;
  padding: 0;
  --main-color:#FFFFFF;
  --hover-color: #eb6d2f;
  --background: #F9F4F0;
}

body {
  position: relative;
  font-family: 'TT Commons';
}
/* global title */
.section-ttl {
  position: relative;
}

header {
  max-width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header .logo img {
  width: 150px;
  height: auto;
}
.logo{
  display: block;
}

.burger-icon {
  font-size: 3.5rem;
  color: #fff;
}

.burger-icon.active {
  transform: rotate(90deg);
  
}

#burger-checkbox {
  display: none;
}

header .menu {
  display: none;
  font-weight: 700;
}

input:checked ~ .menu {
  display: block;  
} 


header .menu a{
color: var(--main-color);
font-weight: 500;
font-size: 14px;
line-height: 28px;
letter-spacing: 1px;
text-transform: uppercase;
}

@media (max-width: 1024px) {
  .sign-in {
    opacity: 0;
  }
}



header .menu a, .sign-in a{
display: block;
text-decoration: none;
color: var(--main-color);
text-align: center;
transition: all .25s;
margin: 0 20px;
}

header .menu a:hover {
  color: var(--hover-color);
}


@media (min-width: 1024px) {
  .burger-icon {
      display: none;
  }


  header nav .menu {
    display: flex;
    align-items: center;
  }
}
  
.top-nav {
    display: flex;
    align-items: center;
    padding: 13px 100px;
    justify-content: space-between;
  }

  @media  (max-width: 1024px) {
    .top-nav {
      padding: 13px 30px;
    }
  
  }

  .top-banner {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 680px;
  }

 .page-ttl {
  color: #FFFFFF;
  text-align: center;
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

h5 {
  color: #553F3F;
  text-align: center;
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150px;

}
.frame {
  background-size: cover;
  background-position: top;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 1440px;
}
.awards {
  text-align: center;
  margin-top: 30px;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;    
  max-width: 100%;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}

.award {
  display: block;
  margin-top: 50px;
  margin: 20px;
}

.award-img{
  width: 120px;
  height: 65px;
  padding-bottom: 10px;
}

.award-name {
  padding-left: 20px;
  width: 900px;
  padding-bottom: 40px;
  
}


.award-description {
  width: 900px;
  padding-bottom: 40px;
}

.award-example {
  display: flex;
  justify-content: left;
  text-align: left;
}

@media (min-width: 1024px) {
  .award-example {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 5px;
  }
}

@media (min-width: 900px) {
  .award-example {
    grid-template-columns: 1fr 1fr ;
  }
}

@media (min-width: 980px) {
  .award-example {
    grid-template-columns: 1fr 1fr 1fr;
  }
}





.part {
  background-image: url(../img/part.jpg);
  background-size: cover;
  background-position: top;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 680px;
  width: 1440px;
}

.part h2 {
  font-weight: normal;
  color: var(--main-color);
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
}

.part p {
  color:var(--main-color);
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.part button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 58px;
  position: static;
  width: 214px;
  height: 50px;
  left: 473px;
  top: 127px;
  background: #FF7A74;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
}

.button:hover {
  border-color: slateblue;
  text-decoration: underline;
  border: ridge;
  text-decoration-color: cornflowerblue;

}

.container {
  background-color:  var(--main-color); 
  background-position: top;
  max-width: 100%;
  align-items: center;
  height: 680px;
  width: 1440px;
}

.container h3 {
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #553F3F;
  text-align: center;
}

.container p {
  position: static;
  width: 400px;
  height: 90px;
  left: 0px;
  top: 40px;
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #978C8C;
}

main .services article  {
  width: 400px;
}

main .services article p {
  text-align: left;
}

@media (min-width: 600px) {
  main .services {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 5px;
  }
}

@media (min-width: 900px) {
  main .services {
    grid-template-columns: 1fr 1fr ;
  }
}

@media (min-width: 980px) {
  main .services {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h4 {
  color: #553F3F;
  position: static;
  width: 300px;
  height: 30px;
  left: 0px;
  top: 0px;
  font-family: 'TT Commons';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}