.awards {
  padding: 30px 0;
}

.award-example {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 80px 0;
  justify-content: space-around;

  img {
    width: 96px;
    height: 81px;
    margin: 30px;
  }

}

.award-name {
  font-family: 'TT Commons', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #553F3F;
  margin: 30px;
}

.award-description {
  font-family: 'TT Commons', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #978C8C;
  margin: 30px;
}

@media (min-width: $sm-size) {
  .award-example {
    flex-direction: column;

  }
}

@media (min-width: $md-size) {
  .award-example {
    display: flex;
  }
}

.frame {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



@media (min-width: $sm-size) {
  .frame {
    flex-direction: column;
    line-height: 80px;
  }
}

@media (min-width: $md-size) {
  .frame {
    flex-direction: inherit;
    line-height: 80px;
  }
}


