  .container {
  padding: 0 20px;
}

@media (min-width: $sm-size) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: $md-size) {
  .container {
    width: 1160px;
    margin: 0 auto;
    max-width: 100%;
  }
}