header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all, .25s;

  svg {
    path {
      transition: all, .25s;
    }
  }

  &.scrolled {
    background: #fff;

    .burger-icon {
      color: #af443f;
    }

    svg {

      path {
        fill: #af443f
      }
    }
  }
}

.top-nav {
  display: flex;
  align-items: center;
  padding: 13px 100px;
  justify-content: space-between;
}

.empty-box {
  @media (min-width: $md-size) {
    display: none;
  }
}

header .menu a, .sign-in a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  text-align: center;
  transition: all 0.25s;
  margin: 0 20px;

}

header {
  .menu, .sign-in {
    display: none;
  }
}

header .menu, .sign-in a:hover {
  color: var(--hover-color);

}

.burger-icon {
  color: #FFFFFF;
}

@media (min-width: 960px) {
  .burger-icon {
    display: none;
  }

  header nav .menu {
    display: flex;
    align-items: center;

  }
}


@media (max-width: 1024px) {
  .top-nav {
    padding: 13px 30px;
  }
}

