.impact {
  background-image: url('../img/impact.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.impact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.impact-info .button {
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 50px;
  background: #FF7A74;
  border-radius: 4px;
  margin: 20px 0;
  color: white;
  transition: all, .25s;
}


.impact-content {
  color: var(--main-color);
  font-family: 'TT Commons', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}
