
/* global title */




.general-subtitle {
  color: #553F3F;
  font-family: 'SangBleu Sunrise', sans-serif;
  font-size: 40px;
  line-height: 62px;
  text-align: center;
  margin: 0 auto;
  padding: 92px;
}


